<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowTime</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>FlowTime</h1>

        <!-- Form for creating predefined tasks -->
        <form action="{{ url_for('add_task') }}" method="post" class="task-form">
            <label for="task_name">Create Task:</label>
            <input type="text" id="task_name" name="task_name" required>
            <button type="submit">Add</button>
        </form>

        <!-- Form for starting a session -->
        <form action="{{ url_for('start_session') }}" method="post" class="task-form">
            <label for="task_id">Start Session:</label>
            <select id="task_id" name="task_id" required>
                {% for task in tasks %}
                <option value="{{ task.id }}">{{ task.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Start</button>
        </form>

        <!-- List of sessions -->
        <h2>Sessions:</h2>
        {% set grouped_sessions = group_sessions_by_date(tasks) %}
        {% for date, task_sessions in grouped_sessions.items() %}
        <div class="date">{{ date.strftime('%Y-%m-%d') }}</div>
        {% for task_name, sessions in task_sessions.items() %}
        <div class="task-sessions">
            <h3>{{ task_name }}</h3>
            <ul>
                {% for session in sessions %}
                <li class="session">
                    <span class="time">{{ session.start_time.strftime('%H:%M') }}</span>
                    <span> → </span>
                    {% if session.end_time %}
                    <span class="time">{{ session.end_time.strftime('%H:%M') }}</span>
                    <span class="spent">Spent: {{ format_time(session.spent_time) }}</span>
                    {% else %}
                    <a class="end-session" href="{{ url_for('end_session', session_id=session.id) }}">End</a>
                    {% endif %}
                    <a class="end-session delete-session"
                        href="{{ url_for('delete_session', session_id=session.id) }}">Delete</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endfor %}

        <!-- ... -->
        <h2>Total Spent Today:</h2>
        {% for task_name, total_time in today_totals.items() %}
        <p>{{ task_name }}: {{ format_time(total_time) }}</p>
        {% endfor %}

        <!-- Display total spent time for each task overall -->
        <h2>Total Spent Overall:</h2>
        {% for task_name, total_time_all in all_time_totals.items() %}
        <p>{{ task_name }}: {{ format_time(total_time_all) }}</p>
        {% endfor %}

    </div>
</body>

</html>